save-exact=true
store-dir=~/.local/share/pnpm/store
supportedArchitectures.cpu[]=arm64
supportedArchitectures.os[]=darwin
supportedArchitectures.os[]=linux
supportedArchitectures.libc[]=glibc
supportedArchitectures.libc[]=musl
